// using variables
$text-color: #fff;
$navbar-bg-color:#dfdfdf;
$navbar-menu-text-color:#000;
$body-and-button-font-size:16px;
$menu-and-text-button-font-size:18px;
$close-icon-size:24px;
$navbar-list-font-size:20px;
$extra-large-font-size:x-large;
$double-extra-large-font-size:xx-large;
$navbar-and-menu-font-weight:500;
$navbar-hover-font-weight:600;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body {
    font-size: $body-and-button-font-size;
    line-height: 1.5;
    background:$text-color;
    color:$text-color;
    background-image: url('./images//labour.jpg');
}

#ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background:$navbar-bg-color;
    color:$navbar-menu-text-color;
    height: 90px;
}

.navbar .logo {
    font-size: $double-extra-large-font-size;
    font-weight: $navbar-and-menu-font-weight;
}

#a {
    color:$navbar-menu-text-color;
    text-decoration: none;
    font-size: $navbar-bg-color;
    font-weight: $navbar-and-menu-font-weight;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar #ul {
    display: flex;

}

.navbar #ul #li {
    margin-left: 20px;
}

#header {
    padding-top: 10%;
    background-size: cover;
    position: relative;
}

#p1 {
    font-size:$extra-large-font-size;
    margin-top: 20px;
}

#p2 {
    font-size: $extra-large-font-size;
}


#button {
    padding: 10px 20px;
    font-size: $body-and-button-font-size;
    border: 2px solid $text-color;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    color:$text-color;
}

#text-button {
    padding: 10px 60px;
    font-size: $menu-and-text-button-font-size;
    text-decoration: none;
    cursor: pointer;
    color:$text-color;
}

.button-container {
    padding-top: 5%;
}

#a:hover {
    font-weight: $navbar-hover-font-weight;
}

#menu {
    display: none;
}


#menu a i {
    color:$navbar-menu-text-color;
}


#closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: $close-icon-size;
    cursor: pointer;
    color:$navbar-menu-text-color;
}

.menu-drawer {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color:$navbar-bg-color;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 2;
    overflow-y: auto;
}

.menu-drawer ul {
    list-style-type: none;
    padding: 20px;
}

.menu-drawer li {
    margin-bottom: 15px;
}

.menu-drawer a {
    text-decoration: none;
    color: $navbar-menu-text-color;
    font-size: $menu-and-text-button-font-size;
    font-weight: $navbar-and-menu-font-weight;
}

@media screen and (max-width: 768px) {
    .navbar #li {
        display: none;
    }

    #menu {
        display: block;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .navbar #li {
        display: none;
    }

    #menu {
        display: block;
    }
}

@media screen and (max-width:769px) {
    .navbar #li {
        display: none;
    }

    #menu {
        display: block;
    }
}